#Stats{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.Table{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    font-size: 1.5rem;
}
#MenuShop{
    width: 5%;
    cursor: pointer;
    float: right;
}