*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  scrollbar-width: thin !important;
  scrollbar-color: rgba(0, 0, 0, 0.4) #dfdfdf !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}

// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: rgba(48, 70, 99, 0.637);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #747d8c;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #57606f;
// }

#Shop {
  position: absolute;
  width: 60%;
  height: 90vh;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  //background-color: #2b3034;
  background-color: rgb(39, 110, 198);
  border-radius: 15px;
}
#rul {
  width: 80%;
  margin: auto;
}
.Titlerul {
  font-size: 2rem;
  text-align: center;
}
.urlp ol {
  padding-left: 35px;
}
.urlp h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 11px;
}
#DisplayBlock {
  display: block;
}
.urlp p {
  color: rgb(15, 15, 15);
}
.RulInfoReg {
  text-align: center;
  p {
    margin: 11px 0;
    color: #000000b0;
  }
}
#EmailSe {
  font-size: 1.3rem;
  background-color: #ea2027cc;
  border-radius: 7px;
  border: 2px solid #ff0009;
  margin-bottom: 20px;
  padding: 8px;
}
.LoginRegisterPanel {
  width: 43%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
}
#LoginRegisterButton {
  margin: 16px 29px;
  font-size: 1.3rem;
  background-color: #f36580;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-bottom: 5px solid #c64a61;
  border-radius: 22px;
}
#LoginRegisterButtons {
  display: flex;
  button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
#LoginRegisterButton:hover {
  background-color: #f3404f;
  border-color: #af3a50;
}
.LoginRegisterMainTitle {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.RegisterErrors {
  font-size: 1.35rem;
  font-weight: bold;
  color: #aa000d;
}

.input {
  border: 2px solid transparent;
  padding: 4px 10px;
  border-radius: 7px;
  margin-bottom: 20px;
  outline: none;
  padding: 18px;
  font-size: 1.23rem;
  font-weight: bold;
  width: 100%;
}
.InputError {
  border-color: red;
}
.InputSus {
  border-color: #009432;
}
#InputTitle {
  margin: 5%;
  font-size: 1.2rem;
}

.Op {
  margin-top: 2%;
  margin-bottom: 4%;
  width: 100%;
  max-width: 60%;
  margin-left: auto;
  font-size: 1.5rem;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.marginImg {
  margin-left: 25px;
}
.ShopTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(7, 7, 7);
  padding-top: 20px;
}
.TableProduct {
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: 60%;
  margin-left: auto;
  padding: 20px;
  margin-right: auto;
}

ul {
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
.Item {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 0;
  border-bottom: 5px solid rgb(172, 169, 169);
  border-radius: 10px;
  margin-bottom: 50px;
  justify-content: space-between;
}
#UserBoard {
  font-size: 2rem;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}

#Img {
  width: 100px;
  height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
}
#Exit-Img {
  width: 50px;
  position: absolute;
  right: -20px;
  top: -20px;
}

.owned {
  // background-color: #494949;
  border: 2px solid #f1c40f;
}
.noowned {
  background-color: #4cd137;
  border-bottom: 5px solid #009432;
}

.selected {
  border: 2px solid #e74c3c;
}

.BtnBuy {
  padding: 10px;
  border-radius: 16px;
  cursor: pointer;
  .BtnBuy-Title {
    user-select: none;
    font-size: 1.5rem;
  }
  .BtnBuy-Prize {
    user-select: none;
    font-size: 1.3rem;
    text-align: center;
  }
}
.Left {
  display: flex;
  align-items: center;
}

.Item-Title {
  font-size: 2rem;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 8%;
  width: 100%;
}
.nomargin {
  margin-left: 0%;
}
.Button {
  font-size: 1.3rem;
  background-color: #00a8ff;
  border: 0;
  border-bottom: 5px solid #1281bb;
  margin-top: 5%;
  border-radius: 16px;
  user-select: none;
  cursor: pointer;
  padding: 10px;
  width: max-content;
}
.DeleteAll {
  background-color: #e84118;
  border: 0;
  border-bottom: 6px solid #c23616;
  outline: none;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 16px;
  cursor: pointer;
}
.ButtonContainter {
  font-size: 1.3rem;
  background-color: #00a8ff;
  margin-top: 5%;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}
.Button:hover {
  background-color: #0097e6;
  border-color: #0c6ca0;
}

.noowned:hover {
  background-color: #44bd32;
  border-color: #007c2a;
}
.DeleteAll:hover {
  background-color: #d63d16;
  border-color: #b13014;
}
.nbuy:hover {
  background-color: #616d7c;
  border-color: rgb(66, 76, 85);
}
.owned:hover {
  border-color: #daae00;
}
.selected:hover {
  border-color: #c43121;
}

.Right {
  display: flex;
  align-items: center;
}

.nbuy {
  background-color: #718093;
  border-bottom: 5px solid #4f5a66;
}

.block {
  display: block;
}
.none {
  display: none;
}

#count {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 5rem;
}

#Jonanek1,
#Jonanek2 {
  width: 100%;
  height: 100vh;
}

#Stats {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.Table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  font-size: 1.5rem;
}
#MenuShop {
  width: 43px;
  cursor: pointer;
  float: right;
}

@media screen and (max-width: 1600px) {
  .TableProduct {
    max-height: 70vh;
    max-width: 70%;
    padding: 20px;
  }
}
@media screen and (max-width: 1489px) {
  .Item-Title {
    margin-left: 1.45%;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1370px) {
  .Op {
    margin-top: 2%;
    margin-bottom: 4%;
    max-width: 76%;
    font-size: 1.5rem;
  }
  #Shop {
    width: 60%;
  }
  #Img {
    width: 90px;
    height: 90px;
    min-width: 90px;
    max-height: 90px;
    max-width: 90px;
  }
  #Exit-Img {
    width: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
  }
  .Item-Title {
    font-size: 1.4rem;
    margin-left: 1.45%;
  }
  .BtnBuy {
    padding: 10px;
    border-radius: 10px;
    .BtnBuy-Title {
      font-size: 1.3rem;
    }
    .BtnBuy-Prize {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 1267px) {
  .Item-Title {
    font-size: 1.265rem;
  }
  .Op {
    margin-top: 2%;
    margin-bottom: 4%;
    max-width: 87%;
    font-size: 1.5rem;
  }
  .TableProduct {
    max-height: 67vh;
    max-width: 70%;
    padding: 20px;
  }
  #Shop {
    width: 80%;
    height: 90vh;
  }
  #Img {
    width: 90px;
    height: 90px;
    min-width: 90px;
    max-height: 90px;
    max-width: 90px;
  }
  #Exit-Img {
    width: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
  }
  .Button {
    font-size: 1.2rem;
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px;
  }
  .BtnBuy {
    padding: 10px;
    border-radius: 10px;
    .BtnBuy-Title {
      font-size: 1.3rem;
    }
    .BtnBuy-Prize {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 981px) {
  #MenuShop {
    width: 35px;
  }
  .TableProduct {
    max-height: 65vh;
    max-width: 80%;
  }

  #Shop {
    width: 95%;
    height: 90vh;
  }
  #Img {
    width: 90px;
    height: 90px;
    min-width: 90px;
    max-height: 90px;
    max-width: 90px;
  }
  #Exit-Img {
    width: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
  }
  .Item {
    margin-bottom: 30px;
  }
  .Button {
    font-size: 1.2rem;
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px;
  }
  .BtnBuy {
    padding: 10px;
    border-radius: 10px;
    .BtnBuy-Title {
      font-size: 1.3rem;
    }
    .BtnBuy-Prize {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 705px) {
  .Op {
    margin-top: 2%;
    margin-bottom: 3%;
    max-width: 97%;
    font-size: 1.25rem;
  }
  #UserBoard {
    font-size: 1.5rem;
  }
  .TableProduct {
    max-height: 72vh;
    max-width: 87%;
  }
  .LoginRegisterPanel {
    width: 80%;
  }
  .DeleteAll {
    font-size: 1rem;
    padding: 10px;
  }
  #Shop {
    width: 95%;
    height: 90vh;
  }
  #Img {
    width: 90px;
    height: 90px;
    min-width: 90px;
    max-height: 90px;
    max-width: 90px;
  }
  #Exit-Img {
    width: 50px;
    position: absolute;
    right: -10px;
    top: -10px;
  }
  .Button {
    font-size: 1rem;
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px;
  }
  .BtnBuy {
    padding: 10px;
    border-radius: 10px;
    .BtnBuy-Title {
      font-size: 1.25rem;
    }
    .BtnBuy-Prize {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 567px) {
  .Op {
    margin-top: 2%;
    margin-bottom: 3%;
    max-width: 97%;
    font-size: 1.25rem;
  }
  .TableProduct {
    max-height: 72vh;
    max-width: 90%;
    padding: 15px;
  }
  .Item-Title {
    padding: 0;
  }
  #Shop {
    width: 95%;
    height: 90vh;
  }
  #Img {
    width: 90px;
    height: 90px;
    min-width: 90px;
    max-height: 90px;
    max-width: 90px;
  }
  #Exit-Img {
    width: 50px;
    position: absolute;
    right: -10px;
    top: -10px;
  }
  .Button {
    font-size: 1rem;
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px;
  }
  .BtnBuy {
    padding: 8px;
    border-radius: 10px;
    .BtnBuy-Title {
      font-size: 1.15rem;
    }
    .BtnBuy-Prize {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 505px) {
  .Op {
    margin-top: 2%;
    margin-bottom: 3%;
    max-width: 97%;
    font-size: 1.25rem;
  }

  .input {
    font-size: 1rem;
  }
  .marginImg {
    margin-left: 15px;
  }
  .TableProduct {
    max-height: 72vh;
    max-width: 90%;
    padding: 15px;
  }
  #UserBoard {
    font-size: 1.25rem;
  }
  .Item-Title {
    padding: 0;
  }
  #Shop {
    width: 95%;
    height: 90vh;
  }
  #Img {
    width: 70px;
    height: 70px;
    min-width: 70px;
    max-height: 70px;
    max-width: 70px;
  }
  #Exit-Img {
    width: 50px;
    position: absolute;
    right: -10px;
    top: -10px;
  }
  .Button {
    font-size: 0.9rem;
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px;
  }
  .BtnBuy {
    padding: 8px;
    border-radius: 10px;
    .BtnBuy-Title {
      font-size: 1.15rem;
    }
    .BtnBuy-Prize {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 460px) {
  .ShopTitle {
    font-size: 1.8rem;
  }
  .Op {
    margin-top: 2%;
    margin-bottom: 3%;
    max-width: 98%;
    font-size: 1.1rem;
  }
  .marginImg {
    margin-left: 15px;
  }
  .TableProduct {
    max-height: 72vh;
    max-width: 90%;
    padding: 15px;
  }
  .Item-Title {
    font-size: 1rem;
    padding: 0;
  }
  #Shop {
    width: 95%;
    height: 90vh;
  }
  #Img {
    width: 70px;
    height: 70px;
    min-width: 70px;
    max-height: 70px;
    max-width: 70px;
  }
  #Exit-Img {
    width: 50px;
    position: absolute;
    right: -10px;
    top: -10px;
  }
  .Button {
    font-size: 0.9rem;
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px;
  }
  .BtnBuy {
    padding: 8px;
    border-radius: 10px;
    .BtnBuy-Title {
      font-size: 1.15rem;
    }
    .BtnBuy-Prize {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 420px) {
  .Op {
    margin-top: 2%;
    margin-bottom: 3%;
    max-width: 99%;
    font-size: 1rem;
  }
  .marginImg {
    margin-left: 15px;
  }
  .Item {
    padding: 7px;
    margin-bottom: 20px;
  }
  #UserBoard {
    font-size: 1rem;
  }
  .TableProduct {
    max-height: 72vh;
    max-width: 90%;
    padding: 15px;
  }
  .Item-Title {
    font-size: 1rem;
    padding: 0;
  }
  #Shop {
    width: 95%;
    height: 90vh;
  }
  #Img {
    width: 70px;
    height: 70px;
    min-width: 70px;
    max-height: 70px;
    max-width: 70px;
  }
  #Exit-Img {
    width: 40px;
    position: absolute;
    right: -5px;
    top: -5px;
  }
  .Button {
    border-radius: 10px;
    font-size: 0.8rem;
    margin-top: 5%;
    padding: 6px;
  }
  .BtnBuy {
    padding: 6px;
    border-radius: 10px;
    .BtnBuy-Title {
      font-size: 1rem;
    }
    .BtnBuy-Prize {
      font-size: 0.85rem;
    }
  }
}

@media screen and (max-width: 366px) {
  .Op {
    margin-top: 2%;
    margin-bottom: 3%;
    max-width: 99%;
    font-size: 0.9rem;
  }
  .marginImg {
    margin-left: 15px;
  }
  .Item {
    padding: 7px;
    margin-bottom: 20px;
  }
  .TableProduct {
    max-height: 75vh;
    max-width: 98%;
    padding: 15px;
  }
  .Item-Title {
    font-size: 0.9rem;
    padding: 0;
  }
  #Shop {
    width: 98%;
    height: 90vh;
  }
  #Img {
    width: 50px;
    height: 50px;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
  }
  #Exit-Img {
    width: 40px;
    position: absolute;
    right: -5px;
    top: -5px;
  }
  .Button {
    border-radius: 10px;
    font-size: 0.8rem;
    margin-top: 5%;
    padding: 6px;
  }
  .BtnBuy {
    padding: 6px;
    border-radius: 10px;
    .BtnBuy-Title {
      font-size: 0.9rem;
    }
    .BtnBuy-Prize {
      font-size: 0.75rem;
    }
  }
}
