<section style="background-color: rgb(39, 110, 198); height: 100vh; width: 100%">
  <section style="padding-top: 15%">
    <div class="MainTitleAero">Zadejte nové heslo</div>
    <div class="LoginRegisterPanel">
      <form #data="ngForm">
        <input type="password" placeholder="Heslo" name="heslo" class="input" />
        <input type="password" placeholder="Heslo znovu" name="heslore" class="input" />
        <div id="LoginRegisterButtons">
          <button type="submit" id="RedButtonAero">Změnit heslo</button>
        </div>
      </form>
    </div>
  </section>
</section>
