<section>
  <div>
    <div class="LoginRegisterMainTitle">Obnovení hesla</div>
    <div class="LoginRegisterPanel">
      <div *ngIf="formS == true" id="EmailSe">
        <p>Email byl úspěšně odeslán</p>
      </div>

      <form #data="ngForm" (ngSubmit)="onSubmit(data.value)" style="width: 100%">
        <input type="text" placeholder="Email" name="email" class="input" [disabled]="formS == true" />
        <div id="LoginRegisterButtons">
          <button type="submit" id="LoginRegisterButton">Obnovit</button>
        </div>
      </form>
      <div *ngIf="formS == true">
        <p>Pokud jste nic neobdržel, zkus zkontrolovat nevyžádané pošty. Případně to zkuste znovu</p>
      </div>
    </div>
  </div>
</section>
