<section>
  <div>
    <div class="LoginRegisterMainTitle">Obnovení hesla</div>
    <div class="LoginRegisterPanel">
      <form #data="ngForm" (ngSubmit)="onSubmit(data.value)" style="width: 100%">
        <input type="text" placeholder="Email" name="email" class="input" />
        <div id="LoginRegisterButtons">
          <button type="submit" id="LoginRegisterButton">Obnovit</button>
        </div>
      </form>
      <div class="RulInfoReg">
        <p>Jestli vám nepříjde email, zkuste to prosím později</p>
      </div>
    </div>
  </div>
</section>
