<section>
  <div>
    <div class="MainTitleAero">Registrace</div>
    <div class="LoginRegisterPanel">
      <form [formGroup]="registerForm"  #data="ngForm" (ngSubmit)="onSubmit(data.value)">
        
        <input [ngClass]="{ InputError: checkError(name),  InputSus: checkSus(name)}" #Name ngModel [appFocusInput]="name" (ngModelChange)="checkUsernameAvailable()" formControlName="name" name="username"  placeholder="Jméno" class="input" type="text"/>
 
        <input  [ngClass]="{ InputError: checkError(email),  InputSus: checkSus(email)}" #Email ngModel [appFocusInput]="email" (ngModelChange)="checkEmail()"  formControlName="email"  name="email"  placeholder="Email" class="input" type="text" />
      
        <div formGroupName="passwords">
          <input [ngClass]="{ InputError: checkError(pass1),  InputSus: checkSus(pass1)}"  #Pass1 ngModel [appFocusInput]="pass1" (ngModelChange)="checkPassword()" formControlName="pass1" name="heslo" placeholder="Heslo" class="input" type="password" />
          <input [ngClass]="{ InputError: checkError(pass2),  InputSus: checkSus(pass2)}"  #Pass2 ngModel [appFocusInput]="pass2" formControlName="pass2" name="reheslo" placeholder="Heslo znovu" class="input" type="password" /> 
        </div>

        
        <div id="LoginRegisterButtons">
          <button type="submit" id="RedButtonAero">Register</button>
        </div>
        <div class="RulInfoReg">
          <p>S registrací účtu souhlasím s <a [routerLink]="['../ochrana-osobnich-udaju']">ochranou a zpracováním osobních</a></p>
          <p><a [routerLink]="['../login']">Již mám účet</a></p>
        </div>

        <div class="RegisterErrors">
          <ng-container *ngIf="name?.touched">
            <div *ngIf="name?.errors?.maxlength">Jméno je dlouhé</div>
            <div *ngIf="name?.errors?.minlength">Jméno je krátké</div>
            <div *ngIf="name?.errors?.hasBadCharacters">Jméno obsahuje nepovolené znaky</div>
          </ng-container>
          <ng-container *ngIf="email?.touched && email?.value"> 
            <div *ngIf="email?.invalid">E-mail je neplatný</div>
          </ng-container>
          <ng-container *ngIf="pass1?.touched"> 
            <div *ngIf="pass1?.errors?.minlength">Heslo je krátké</div>
            <div *ngIf="pass1?.errors?.maxlength">Heslo je dlouhé</div>
            <div *ngIf="pass1?.errors?.passwordhasNoUpper">Heslo musí obsahovat velké písmeno</div>
            <div *ngIf="pass1?.errors?.passwordhasNoLower ">Heslo musí obsahovat malé písmeno</div>
            <div *ngIf="pass1?.errors?.passwordhasNoNum">Heslo musí obsahovat číslici</div>
          </ng-container>
          <ng-container *ngIf="pass2?.touched"> 
            <div *ngIf="pass2?.errors?.notEquivalent">Hesla se neshodují</div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</section>

