<section>
    <div id="count">{{count}}</div>
    <img id="Jonanek1" class="block" [src]="background2" #Jonanek1>
    <img id="Jonanek2" class="none" [src]="background1" #Jonanek2>
 
    <section id="Stats">
        <div class="Table">
            <div>
                Světově: <span id="CounterLink">{{worldCounter}}</span>
            </div>
            <div>
                <img src="assets/list.webp" id="MenuShop" title="Shop" routerLink="/shop/sound">
            </div>
        </div>
    </section>
</section>
<router-outlet></router-outlet>