.block{
    display: block;
}
.none{
    display: none;
}

#count{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 5rem;
}

#Jonanek1,
#Jonanek2{
    width: 100%;
    height: 100vh;
}