<section>
    <div id="count">{{count}}</div>
    <img id="Jonanek1" class="block" src="assets/Jonanek2.webp" #Jonanek1>
    <img id="Jonanek2" class="none" src="assets/Jonanek1.webp" #Jonanek2>
 
    <section id="Stats">
        <div class="Table">
            <div>
                Světově: <span id="CounterLink">{{worldCounter}}</span>
            </div>
            <div>
                <img src="assets/list.webp" id="MenuShop" title="Shop">
            </div>
        </div>
    </section>
</section>

