<section>
  <div>
    <div class="LoginRegisterMainTitle">Přihlášení</div>
    <div class="LoginRegisterPanel">
      <form #data="ngForm" (ngSubmit)="onSubmit(data.value)">
        <input type="text" placeholder="Email/Jméno" name="username" class="input" />
        <input type="password" placeholder="Heslo" name="heslo" class="input" />
        <div id="LoginRegisterButtons">
          <button type="submit" id="LoginRegisterButton">Login</button>
        </div>

        <div class="RulInfoReg">
          <p>
            <a [routerLink]="['../register']"> Nemám účet </a>
          </p>

          <p>
            <a [routerLink]="['../register']"> Nemám účet </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
