<section>
  <div>
    <div class="MainTitleAero">Vítej {{ UserName }}</div>
    <div>
      <div>
        <form>
          <input type="password" class="input" placeholder="Heslo" />
          <input type="password" class="input" style="margin-bottom: 5px" placeholder="Nový Heslo" />
          <button id="RedButtonAero" type="submit">Změnit heslo</button>
        </form>
      </div>
      <div>
        <form>
          <input type="text" class="input" style="margin-bottom: 5px" placeholder="Nový email" />
          <button id="RedButtonAero" type="submit">Změnit email</button>
        </form>
      </div>
    </div>
  </div>
</section>
