<section id="rul">
  <div class="TableProduct" style="max-width: 100%;">
    <div class="Titlerul">Ochrana osobních údajů</div>
    <div class="urlp">
      <div>
        <h3>REGISTRACE, OSOBNÍ ÚDAJE</h3>
        <ol>
          <li>
            <p>
              Pro úspěšnou registraci a založení uživatelského účtu je nezbytné, abys nám poskytl základní
              registrační údaje. Registrací zároveň souhlasíš, že tvé registrační údaje budou přesné, úplné a
              pravdivé.
            </p>
          </li>

          <li>
            <p>
              Neneseme žádnou odpovědnost za to, pokud tvým zaviněním dojde ke ztrátě tvého uživatelského
              jména a hesla a zneužití tvého uživatelského účtu třetí osobou. V případě takto vzniklé situace
              se ti ale budeme snažit co nejrychleji pomoci a účet ochránit.
            </p>
          </li>
        </ol>
      </div>

      <div>
        <h3>ÚDAJE, KTERÉ ZPRACOVÁVÁME A VYUŽÍVÁME</h3>
        <ol>
          <li>
            <p>
              Pro úspěšné vytvoření uživatelského účtu zpracováváme tvé uživatelské jméno a e-mailovou adresu.
            </p>
          </li>

          <li>
            <p>Po vstupu na stránku zpracováváme vaší IP adresu počítače.</p>
          </li>
        </ol>
      </div>

      <div>
        <h3>POSÍLÁNÍ E-MAILŮ</h3>
        <ol>
          <li>
            <p>E-maily zasíláme pouze v případech ztráty hesla</p>
          </li>
        </ol>
      </div>

      <div>
        <h3>DOBA UCHOVÁNÍ OSOBNÍCH ÚDAJŮ</h3>
        <ol>
          <li>
            <p>Smazání účtu dojde k trvalým smazání veškerých tvých dat z naších databází</p>
          </li>
        </ol>
      </div>
      <div>
        <h3>PŘÍSTUP K ÚDAJŮM</h3>
        <ol>
          <li>
            <p>Přístup k údajům má hosting, správci serveru a databáze</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
